{# templates/sql/spatial_join.sql.jinja #}
SELECT
    *
FROM
    {{ table }}
WHERE
    st_intersects(
        {{ table }}.geom,
        (
            SELECT
                st_setsrid(st_makepoint(% s,% s), 4326) AS geom
        )
    )
LIMIT
    1;
