{# templates/sql/spatial_join.sql.jinja #}

SELECT
    *
FROM
    {{table}}
WHERE
    ST_Intersects(
        {{table}}.geom,
        (SELECT ST_SetSRID(
            ST_MakePoint(%s, %s),
            4326) AS geom
        ))
LIMIT 1;
