:root {
  font-family: "IBM Plex Mono", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg: #fff;
  --dark-grey: #292a34;
  --medium-grey: #68697c;
  --light-grey: #c8c9ce;
  --very-light-grey: #f8f8f8;
  --text-color: #000;
  --box-padding: 0.25em;
  --sidebar-width: 320px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.sidebar {
  height: 100vh;
  width: var(--sidebar-width);
  background-color: var(--bg);
  color: var(--text-color);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 var(--box-padding);
}

.title {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.1;
  color: var(--text-color);
  background-color: var(--bg);
  padding: var(--box-padding);
}

.subtitle {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.1;
  color: var(--text-color);
  background-color: var(--bg);
  padding: var(--box-padding);
}

#year {
  position: fixed;
  top: 0.67em;
  z-index: 1;
  right: 0px;
  padding: var(--box-padding);
}

#zoom {
  font-size: 0.75em;
  background-color: var(--bg);
  color: var(--text-color);
  top: calc(40px + var(--box-padding) * 4);
  padding: var(--box-padding);
}

#legend {
  background-color: var(--bg);
  color: var(--text-color);
  padding: var(--box-padding);
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 18px;
  height: 12px;
}

.legend-text {
  margin-left: 0.5em;
  font-size: 12px;
}

#legend h3 {
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#data {
  font-size: 0.75em;
  text-align: left;
  max-width: calc(var(--sidebar-width) - 2 * var(--box-padding));
}

#data td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.25em;
}

#controls {
  z-index: 1;
  position: fixed;
  bottom: 0.67em;
  right: 0px;
  background-color: var(--bg);
  color: var(--text-color);
  padding: var(--box-padding);
}

.control-key {
  color: var(--medium-grey);
  margin: 0;
}

#legend p,
#controls p {
  margin-block-start: 0;
  margin-block-end: 0;
}

#map {
  width: calc(100vw - var(--sidebar-width));
  height: 100vh;
  background-color: #fff;
}

.marker {
  position: absolute;
  top: 50%;
  left: calc(50% + var(--sidebar-width) / 2);
  width: 10px;
  height: 10px;
  /* background-color: #000; */
  border: 1px solid #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
