<table>
    <tr>
        <th>Column</th>
        <th>Value</th>
    </tr>
    {% for col_name, value in record %}
    <tr>
        <td>{{ col_name }}</td>
        <td style="{{ 'color: grey' if value is none else black }}">
            {{ value }}</td>
    </tr>
    {% endfor %}
</table>