{# templates/point_lookup.sql.jinja #}
SELECT
    address,
 ownername,
 yearbuilt,
 numbldgs,
 numfloors,
 bldgclass,
 zonedist1,
 overlay1,
 builtfar,
 unitsres,
 resarea,
 comarea,
 assessland,
 assesstot,
 exempttot,
 yearalter1,
FROM
    ST_Read('{{table}}', spatial_filter=ST_AsWKB(ST_Point({{lon}}, {{lat}})))
LIMIT 1;
