{# templates/receipt.html.jinja #}
<div style="text-align: center;">
    <h1 style="font-size: 1rem;">NYC PARCEL ATM</h1>
    <p>PARCEL RECEIPT</p>
    <p>-------------------------------</p>
    <p>{{address}}</p>
    <div style="width: 100%; max-height: 300px;">
        {{svg}}
    </div>
</div>
