{# templates/receipt.sql.jinja #}
{% for year, table in tables.items() %}
SELECT
    '{{year}}' AS year,
    ownername,
    -- CONCAT(borocode, block, lot) AS bbl,
    zonedist1,
    {# Temp hack: there seems to be an issue with these two files on prod machine. #}
    {% if year in ('02', '03') %}null as builtfar{% else %}builtfar{% endif %},
    {% if year in ('02') %}null as yearalter1{% else %}yearalter1{% endif %},
    CAST(assesstot AS INTEGER) AS assesstot,
FROM
    ST_Read(
        '{{table}}',
        spatial_filter=ST_AsWKB(
            ST_Point($1, $2)
        )
    )
{% if not loop.last %}UNION ALL{% endif %}
{% endfor %}
LIMIT 22;
